.coveralls.yml
docs/_build/**
_build/**
cover
.coverage
neat-checkpoint-*
fitness_history.csv
speciation.csv
species_fitness.csv
.mypy_cache
*~
*.pyc
*.pyo
__pycache__/
*stats*.dat*

# pycharm cache folder
.idea/

examples/openai-lander/results/
examples/openai-walker/results/
examples/picture2d/*.bin
examples/picture2d/*.png
examples/picture2d/rendered/
venv

*.gv
*.svg
build
dist
neat_python.egg-info

notes.ipynb

# Remove folder /kan from current dir
/kan

results/
parameter_sweep_results/
examples/special-functions/model/
examples/special-functions/special_functions_results*/
examples/special-functions/*plots/
Example_1_function_fitting*